/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

@font-face {
    font-family: 'Commissioner';
    src: url('fonts/Commissioner-Italic.ttf') format('ttf');
}

// font family
$font-family-sans-serif: 'Commissioner', Arial, sans-serif !default;
$heading-font: 'Fraunces', Times New Roman, serif  !default;

// code
$code-color: #508080 !default;
$code-block-border-color: #2F4F4F;

// bg colours
$link-color: #508080;
$popover-bg: #F0F5F5;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
  font-family: $font-family-sans-serif;
}

div.callout-tip.callout {
  border-left-color: #508080;
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: #CAD8D8
;
}
